@font-face {
    font-family: 'Righteous';
    src: url('../fonts/Righteous-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_28pt-Bold.ttf');
    font-weight: 700;
}